{% import 'partials/typescript.njk' as ts %}

{% macro fieldAccess(entity, field, variable) -%}
  {% raw %}{{{% endraw %} {{ ts.fieldAccess(entity, field, variable) }} {% raw %}}}{% endraw %}
{%- endmacro %}

{% macro securityRoles(entity, operation) -%}
  {%- if entity.operations[operation].roles | length > 0 -%}
    {%- set comma = joiner(',') -%}
    appHasSecurityRoles="{%- for role in entity.operations[operation].roles -%}{{ comma() }}ROLE_{{ role | constantCase }}{%- endfor -%}"
  {%- endif -%}
{%- endmacro %}
