{% macro formField(field) -%}
  <vwui-form-group inputId="{{ field.name }}" label="{{ field.name | titleCase }}">
    {% if field.type == 'string' -%}
      <vwui-input type="text" formControlName="{{ field.name}}" inputId="{{ field.name }}"></vwui-input>
    {% elif field.type == 'text' -%}
      <vwui-textarea formControlName="{{ field.name}}" inputId="{{ field.name }}"></vwui-textarea>
    {%- elif field.type == 'integer' -%}
      <vwui-input type="text" formControlName="{{ field.name}}" inputId="{{ field.name }}"></vwui-input>
    {%- elif field.type == 'boolean' -%}
      <vwui-checkbox formControlName="{{ field.name}}" inputId="{{ field.name }}"></vwui-checkbox>
    {%- else -%}
      <app-{{ field.type.target.name | kebabCase }}-item-select formControlName="{{ field.name}}" inputId="{{ field.name }}" [multiple]="{% if field.type.parity == 'oneToOne' or field.type.parity == 'manyToOne' %}false{% else %}true{% endif %}"></app-{{ field.type.target.name | kebabCase }}-item-select>
    {%- endif -%}
  </vwui-form-group>
{%- endmacro %}
