<app-input-multi-select [inputId]="inputId" [options]="options" placeholder="Select a {{ entity.name | titleCase | lower }}" [formControl]="control" [multiple]="multiple" [autoSelectSingleItem]="autoSelectSingleItem"></app-input-multi-select>
