{% import 'partials/angular.njk' as angular %}
{% import 'partials/vwui.njk' as vwui %}

<vwui-header>
    <div slot="breadcrumbs">
        <vwui-breadcrumb><a routerLink="/{{ entity.name | plural | urlCase }}">{{ entity.name | plural | titleCase }}</a></vwui-breadcrumb>
        <vwui-breadcrumb *ngIf="editMode">Edit {{ entity.name | titleCase | lower }} {% raw %}{{{% endraw %} editing?.{{ (entity | mainProperty).name | camelCase }} {% raw %}}}{% endraw %}</vwui-breadcrumb>
        <vwui-breadcrumb *ngIf="!editMode">Create {{ entity.name | titleCase | lower }}</vwui-breadcrumb>
    </div>

    <ng-container *ngIf="editMode">Edit {{ entity.name | titleCase | lower }} {% raw %}{{{% endraw %} editing?.{{ (entity | mainProperty).name | camelCase }} {% raw %}}}{% endraw %}</ng-container>
    <ng-container *ngIf="!editMode">Create {{ entity.name | titleCase | lower }}</ng-container>
</vwui-header>

<form [formGroup]="form">
    {% for field in entity.fields %}
      {{ vwui.formField(field) }}
    {% endfor %}

    <vwui-button class="is-primary" (click)="save()" [disabled]="form.invalid" [loading]="loading">Submit</vwui-button>
</form>
