---
id: test
dependencies: [edit-component]
---
import { ComponentFixture, TestBed } from '@angular/core/testing';

import { {{ dependencies.edit-component.name }} } from './{{ entity.name | plural | kebabCase }}.component';

describe('{{ dependencies.edit-component.name }}', () => {
  let component: {{ dependencies.edit-component.name }};
  let fixture: ComponentFixture<{{ dependencies.edit-component.name }}>;

  beforeEach(() => {
    TestBed.configureTestingModule({
      declarations: [{{ dependencies.edit-component.name }}]
    });
    fixture = TestBed.createComponent({{ dependencies.edit-component.name }});
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
