{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "ignorePatterns": "**/*.d.ts",
  "rules": {
    "no-useless-constructor": 0,
    "@typescript-eslint/no-empty-function": 0,
    "node/no-extraneous-import": 0,
    "node/no-missing-import": 0,
    "no-await-in-loop": 0,
    "unicorn/prefer-module": 0,
    "unicorn/switch-case-braces": 0,
    "unicorn/no-await-expression-member": 0
  }
}
