---
id: resolver
dependencies: [model, service]
constants:
  name: '{{ entity.name | pascalCase }}Resolver'
---
import { Injectable } from '@angular/core';
import {
  Router, Resolve,
  RouterStateSnapshot,
  ActivatedRouteSnapshot
} from '@angular/router';
import { Observable, of } from 'rxjs';
import { {{ dependencies.service.name }} } from "../services/{{ entity.name | kebabCase }}.service";
import { {{ dependencies.model.name }} } from "../models/{{ entity.name | kebabCase }}";

@Injectable({
  providedIn: 'root'
})
export class {{ constants.name }} implements Resolve<{{ dependencies.model.name }}> {
  constructor(private {{ entity.name | camelCase }}Service: {{ dependencies.service.name }}) {
  }

  resolve(route: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable<{{ dependencies.model.name }}> {
    return this.{{ entity.name | camelCase }}Service.detail(route.params['id']);
  }
}
