{% import 'partials/angular.njk' as angular %}
{% import 'partials/typescript.njk' as ts %}
<vwui-header>
    <div slot="breadcrumbs">
        <vwui-breadcrumb>{{ entity.name | plural | titleCase }}</vwui-breadcrumb>
    </div>

    {{ entity.name | plural | titleCase }}

    {% if entity.operations.create.enabled %}
    <vwui-button {{ angular.securityRoles(entity, 'create') }} slot="action" routerLink="/{{ entity.name | urlCase }}/create" icon="vwui-add">Add {{ entity.name | lower }}</vwui-button>
    {% endif %}
</vwui-header>

<vwui-header-divider-bar>
    <vwui-search
            placeholder="Search for {{ entity.name | plural | titleCase | lower }}..."
            [formControl]="searchControl"
    ></vwui-search>
</vwui-header-divider-bar>

<ng-container *ngIf="(paginator$ | async) as paginator; else loading">
    <vwui-table tableTitle="{{ entity.name | plural | titleCase }}">
        <vwui-table-row>
            <vwui-table-header>
              <app-sortable-field field="id" (sortChanged$)="updateSort($event)" [current]="sort$ | async">ID</app-sortable-field>
            </vwui-table-header>
            {% for field in entity.fields -%}
              {%- if field.visibleInList -%}
                <vwui-table-header>
                  <app-sortable-field field="{{ ts.fieldAccess(entity, field) }}" [enabled]="{{ 'true' if field.sortable else 'false' }}" (sortChanged$)="updateSort($event)" [current]="sort$ | async">{{ field.name | titleCase }}</app-sortable-field>
                </vwui-table-header>
              {% endif -%}
            {%- endfor %}
            <vwui-table-header></vwui-table-header>
        </vwui-table-row>

        <vwui-table-row *ngIf="paginator.loading">
            <vwui-table-column>
                <vwui-spinner></vwui-spinner>
            </vwui-table-column>
        </vwui-table-row>

        <vwui-table-row *ngFor="let item of (paginator.content$|async)">
            <vwui-table-column>{% raw %}{{{% endraw %} item.id {% raw %}}}{% endraw %}</vwui-table-column>
            {% for field in entity.fields -%}
              {%- if field.visibleInList -%}
                <vwui-table-column>{{ angular.fieldAccess(entity, field, 'item') }}</vwui-table-column>
              {% endif -%}
            {%- endfor %}
            <vwui-table-column>
                {% if entity.operations.update.enabled %}
                <vwui-btn-icon {{ angular.securityRoles(entity, 'update') }} icon="vwui-edit" routerLink="/{{ entity.name | urlCase }}/{% raw %}{{ item.id }}{% endraw %}/edit"></vwui-btn-icon>
                {% endif %}
                {% if entity.operations.delete.enabled %}
                <vwui-btn-icon {{ angular.securityRoles(entity, 'delete') }} icon="vwui-trash" (click)="delete(item)"></vwui-btn-icon>
                {% endif %}
            </vwui-table-column>
        </vwui-table-row>

        <vwui-table-row *ngIf="(paginator?.content$ | async)?.length === 0 && !paginator?.loading">
            <vwui-table-column>
                No results.
            </vwui-table-column>
        </vwui-table-row>

        <app-pagination slot="table-pagination" [paginator]="paginator"></app-pagination>
    </vwui-table>
</ng-container>

<ng-template #loading>
    <vwui-spinner></vwui-spinner>
</ng-template>
