<vwui-nav>
    <vwui-logo slot="logo" logoSrc="/assets/images/logo.svg" class="logo"></vwui-logo>
    <vwui-nav-item
          iconName="vwui-dashboard"
          routerLink="/dashboard"
          routerLinkActive="is-active"
    >
      Overview
    </vwui-nav-item>

{% incremental id="menu" %}
    {% import 'partials/angular.njk' as angular %}
    {% if entity.operations.update.enabled %}
    <vwui-nav-item
            iconName="vwui-{{ entity.properties.icon }}"
            routerLink="/{{ entity.name | urlCase }}"
            routerLinkActive="is-active"
            {{ angular.securityRoles(entity, 'entity') }}
    >
        {{ entity.name | plural | titleCase }}
    </vwui-nav-item>
    {% endif %}
{% endincremental %}

    <div slot="nav-footer">
        <div class="nav-logout-wrapper">
            <vwui-nav-item
                iconName="vwui-user"
                tabindex="-1"
                (click)="logout()"
            >
                <span class="email">{% raw %}{{ userEmailAddress }}{% endraw %}</span>
                <vwui-icon iconName="vwui-logout"></vwui-icon>
            </vwui-nav-item>
        </div>
    </div>
</vwui-nav>
