<div class="text">
  <h1 class="title">Login to {{ project.name | sentenceCase }}</h1>
  <p>Use the button below to login to {{ project.name | sentenceCase }}. You can use your Azure AD account.</p>
</div>

<vwui-button class="is-primary" [loading]="loading()" (click)="login()">Login with Azure AD</vwui-button>
