package {{ variables.packageName }}.configuration

import jakarta.validation.constraints.NotBlank
import jakarta.validation.constraints.NotNull
import org.springframework.boot.context.properties.ConfigurationProperties
import org.springframework.stereotype.Component
import org.springframework.validation.annotation.Validated

@Validated
@Component
@ConfigurationProperties("{{ variables.packageName }}")
class AppProperties {
    @NotBlank
    lateinit var frontendUrl: String
}
