.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.content {
  width: 100vw;
  max-height: 100vh;
  max-width: 30rem;
  border-radius: 0.5rem;
  border: 1px solid var(--vwui-color-neutral-3);
  padding: 2rem;
}
